---
// noinspection TypeScriptCheckImport
import {Content, frontmatter} from "./_content.md"
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <article class="container pt-8">
        <header class="pb-4 mb-8 border-b">
            <h1 class="my-2 text-black leading-tight">{frontmatter.title}</h1>
        </header>
        <div class="post-content">
            <Content/>
        </div>
    </article>
</BaseLayout>
