---
import {getCollection} from "astro:content";
import BaseLayout from "@src/layouts/BaseLayout.astro"
import _ from 'lodash'

const posts = await getCollection('posts');
const tags = posts.flatMap((entry) => entry.data.tags)
const tagCounts = _.countBy(tags)
---

<BaseLayout title="Tags">
    <div class="mx-auto">
        <h1 class="text-center text-5xl">Tags</h1>
        <div class="mt-8">
            {_.entries(tagCounts).map(([tag, count]) => (
                    <a class="border-6 m-2 rounded text-xl" href={`/tags/${tag}`}>
                        {tag}<sup>{count}</sup>
                    </a>
            ))}
        </div>
    </div>
</BaseLayout>
