---
import {getCollection} from "astro:content";
import BaseLayout from "@src/layouts/BaseLayout.astro"
import DateTile from "../components/DateTile.astro";

const posts = await getCollection('posts');
---

<BaseLayout>
    <ul>
        {posts.map(entry => (
                <li class="grid grid-cols-12 mt-8">
                    <DateTile date={entry.data.date}/>
                    <div class="col-span-10">
                        <h2 class="text-2xl leading-relaxed mb-0 mt-0">
                            <a href={`/posts/${entry.slug}`}>
                                {entry.data.title}
                            </a>
                        </h2>
                    </div>
                </li>
        ))}
    </ul>
</BaseLayout>
