---
---

<footer>
<div>
<p class="text-sm leading-3 mt-4">Copyright © 2024 tison &lt;wander4096@gmail.com&gt;</p>
<p class="text-sm leading-3 mt-4">
Code is licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache-2.0</a>.
Words and images are licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>.
</p>
</div>
</footer>

<style>
footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
