---
import "@src/styles/global.css"
import Footer from "@src/components/Footer.astro"
import Header from "@src/components/Header.astro"
import HeaderMeta from "./HeaderMeta.astro"
import {Site} from "@src/config"

import '@fontsource-variable/open-sans'

const {title: origTitle} = Astro.props;
const title = origTitle ?? Site.title;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <HeaderMeta/>
    <title>{title}</title>
</head>
<body class="flex flex-col min-h-screen max-w-4xl font-sans mx-4 lg:mx-auto xl:mx-auto leading-normal">
<Header/>
<main class="flex-1 text-gray-900">
    <slot/>
</main>
<Footer/>
</body>
</html>
